{% extends 'base.html' %}

{% block title %} Home about {% endblock title %}

{% block content %}

<p>This Page <span class="text-danger">ABOUT ONLY!!</span></p>
<div>
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.</p>
    <h2>About Company</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.</p>
    <h2>Our Vision</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.</p>
    <h2>Mission</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.</p>
</div>
{% endblock content %}