{% extends 'base.html' %}

{% block title %} Home Page {% endblock title %}

{% block content %}
<h1><span class="text-primary"> Welcome HOME ONLY!!</span></h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi perferendis, numquam placeat earum aperiam veritatis aspernatur assumenda reprehenderit sint impedit.</p>

{% endblock content %}